head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content="Panda ipsum is a text generator for placeholder text. Great for people who want their love of pandas to show in their development process.")
    meta(name="keywords" content="Panda, Ipsum, panda, ispum, Panda Ipsum, panda ipsum, developer, programer, placeholder text, lorem ipsum, lorem")
    title Panda Ispum
    link(rel="stylesheet" type="text/css" href="/css/normalize.css")
    link(rel="stylesheet" type="text/css" href="/css/index.css")