extends template

block content
    main(class="container") 
        h2 What is Panda Ipsum?
        p A placeholder text for Panda lovers. Great for any project where you need a visual mockups and to previewing layouts.
        h2 Why use Panda Ipsum?
        p Becasue Pandas are awesome. Enough said!
        h2 How it works?
        p Just select the amount of paragraphs you want and click generate. Sorry we couldn't make it much easier the that.
        form(id="formFiled" class="form-area" action="/ipsun/" method="get")
            label(class="par" for="par") Select your number of paragraphs
            input(class="field" type="number" id="par" name="par" value="1" step="1"
                min="1" max="100")
            input(class="button" type="submit" value="generate")

        section(class="text-container") 
            button(id="copy" class="button") copy
            div(class='text')
                - if (ipsum) 	
                    p #{ipsum}
