extends template

block content
    main(class="container")
        section(class="details")
            include questions
        form(id="formFiled" class="form-area" action="/ipsun/" method="get")
            label(class="par" for="par") Select the number of paragraphs :
            input(class="field" type="number" id="par" name="par" value="1" step="1"
                min="1" max="100")
            input(class="button" type="submit" value="generate")

        section(class="text-container") 
            button(id="copy" class="button") copy
            div(class='text')
                - if (ipsum) 	
                    p #{ipsum}
