extends template

block content
    h1(class="greeting") Todo
        p List of todo items
        ul
            - for(let item of items)
                li= item
        - if (isAdmin)
            h3 hello admin user
        - else
            h3 hello guest user

block append footer
    h5 this is the todo page
